/* Quita scrollbar horizontal global */
html, body, #root {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0d0d0d;
}

/* Panel de contenido principal */
main {
  width: 100%;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
